.grid {
    flex: 1;

    &__wrap {
        width: 100%;
        height: 100%;
    }

    .no-border.ag-cell:focus {
        border-color: transparent !important;
        outline-color: transparent !important;
    }
}