v-container.grid(fluid)
    ag-grid-vue.grid__wrap(
        class="ag-theme-alpine"
        suppressCellFocus
        :rowHeight="35"
        :columnDefs="columnDefs"
        :rowData="rowData"
        :frameworkComponents="frameworkComponents"
        :isExternalFilterPresent="isExternalFilterPresent"
        :doesExternalFilterPass="doesExternalFilterPass"
        :defaultColDef="defaultColDef"
        @grid-ready="onGridReady"
        @row-clicked="onRowClicked"
    )